
<%- include('layout/header') %>

<div class="text-center py-4">
    <h1> Contact</h1>
   
</div>



<div class="container d-flex justify-content-center py-4">
<form class="border rounded px-4 py-2">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        
      </div>
      
<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Message</label>
        <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
</div>
   <div class="container d-flex justify-content-center ">
    <button type="submit" class="btn btn-primary">Send</button>
</div>
  </form>

</div>

  <%- include('layout/footer') %>